body {
    background-image: linear-gradient(to bottom right,#00FFA3, #86C69C , #31D317 );


}

.form-check-input {
    transform: scale(2);
    margin: 15px;
    

}
.form-check {
    margin-left: 10vh;

}

.btn {
    display: block;
    width: 50%;
    border: none;
    background-color: #04AA6D;
    color: black;
    font-size: 22px;
    cursor: pointer;
    margin:auto;
    padding: 14px 28px;
    font-weight: bold;
}


.btn:hover {
    display: block;
    width: 50%;
    border: none;
    background-color: #69e6b8;
    color: black;
    font-size: 22px;
    cursor: pointer;
    margin:auto;
    padding: 14px 28px;
    font-weight: bold;
}
