*{
	padding: 0;
	margin: 0;
	font-family: 'Brush Script MT', cursive;
	box-sizing: border-box;
	background-color: #9CA29C;
}



.hero{
	height: auto
	width: 100%;
	background-size: cover;
	background-position: center;


}
nav{
	display: flex;
        align-items: center;
	justify-content: space-between;
	padding: 28px;   
	padding-left: 8%;
	padding-right: 36vh;
        background: #90ae96;
	
}

.logo-img{
	  padding: 5px;
          width: 150px;;
        
}
span{
	color: #03E1FF;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  45px;
}
nav ul li a{
	color: black;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #a1f29f;
	transition: .4s;
}

.container-fluid {
	margin-top: 100px;
}
