<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <form action="" method="post" onsubmit="return data()">
    <h1> Choose your protein below: </h1>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Chicken">
        <label class="form-check-label" for="flexCheckDefault">
          Chicken
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Beef">
        <label class="form-check-label" for="flexCheckChecked">
          Beef
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Pork">
        <label class="form-check-label" for="flexCheckChecked">
          Pork
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Lamb">
        <label class="form-check-label" for="flexCheckChecked">
          Lamb
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Fish">
        <label class="form-check-label" for="flexCheckChecked">
          Fish
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Other Seafood">
        <label class="form-check-label" for="flexCheckChecked">
          Other Seafood
        </label>
    </div>

    <h1> Choose your Starchy Foods below: </h1>


    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Potatoes">
        <label class="form-check-label" for="flexCheckDefault">
          Potatoes
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Bread">
        <label class="form-check-label" for="flexCheckChecked">
          Bread
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Rice and grains">
        <label class="form-check-label" for="flexCheckChecked">
          Rice and grains
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Pasta">
        <label class="form-check-label" for="flexCheckChecked">
          Pasta
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Cereal Products">
        <label class="form-check-label" for="flexCheckChecked">
          Cereal Products
        </label>
    </div>


    <h1> Choose your Dairy Foods below: </h1>


    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Cheese">
        <label class="form-check-label" for="flexCheckDefault">
          Cheese
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Yogurt">
        <label class="form-check-label" for="flexCheckChecked">
          Yogurt
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Butter">
        <label class="form-check-label" for="flexCheckChecked">
          Butter
        </label>
    </div>




    <h1> Choose your favorite type of cuisine below: </h1>


    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Chinese Cuisine">
        <label class="form-check-label" for="flexCheckDefault">
        Chinese Cuisine
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Italian Cuisine">
        <label class="form-check-label" for="flexCheckChecked">
        Italian Cuisine
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="French Cuisine">
        <label class="form-check-label" for="flexCheckChecked">
        French Cuisine
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Korean Cuisine">
        <label class="form-check-label" for="flexCheckChecked">
        Korean Cuisine
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Spanish Cuisine">
        <label class="form-check-label" for="flexCheckChecked">
        Spanish Cuisine
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Japanese Cuisine">
        <label class="form-check-label" for="flexCheckChecked">
        Japanese Cuisine
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Indian Cuisine">
        <label class="form-check-label" for="flexCheckChecked">
        Indian Cuisine
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="Mexican Cuisine">
        <label class="form-check-label" for="flexCheckChecked">
        Mexican Cuisine
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="No preffered cuisine">
        <label class="form-check-label" for="flexCheckChecked">
        No preffered cuisine
        </label>
    </div>
    <input type="submit" name="submit" value="SUBMIT">
    </form>

    <script src="static/fetchdata.js"></script>

</body>
</html>
